:root{
    --body-bg: rgb(162,161,170);
    --haberger-bg:rgb(107,183,245);
}
html, body{
    height: 100%;
}
body{
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu{
    background-color: white;
    width: 100%;
    height: 130px;
    padding-bottom: 15px;
    border-radius:10px;
}


.hamburger-container{
    display:inline-block;
    position: relative;
    width: 80px;
    height: 110px;
    padding-left: 93%;
    background: white;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    position:absolute;
    width: 100px;
    height: 5px;
    transition: 0.5s;
    background: rgb(107, 144, 245)
}
.hamburger::before,
.hamburger::after{
    content: "";
}
.hamburger{
    top: 60%
}
.hamburger::before{
    top: -40px
}
.hamburger::after{
    top: 40px
}
.toggle:checked ~ .hamburger::after{
    top: 0;
    transform: rotate(225deg);
}
.toggle:checked ~ .hamburger::before{
    top: 0;
    transform: rotate(135deg);
}
.toggle:checked ~ .hamburger{
    background: white;
}
.toggle{
    opacity: 0;
}
.container{
    width: 50%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.bg{
    background-image: url("run.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background-size: 500px;
}
.circle{
    background-image: url("jh.jpg");
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-size: 200px;
    margin-top: -150px;
}
.circle:hover{
    transform: scale(1.2);
}
.ji{
    width: 200px;
    height: 150px;
    margin: 0px;
    overflow: auto;
    text-align: center;
}

button{
    background-color: yellow;
    border-radius: 50px;
    width: 100px;
    height: 40px;
}
button:active{
    transform: scale(1.2);
}









